.login {
  width: 60rem;
  padding: 1rem;
  background: $c-login;

  &__title {
    font-size: 25px;
  }

  &__info {
    font-size: 15px;
  }

  &__list {

    &__item {
      margin: 0.5rem 0;
      padding: 0.5rem 0.8rem;
      border-left: $c-nav-secondary 0.2rem solid;
      background: $c-nav-text;
      font-size: 14px;
    }
  }

  &__buttons {
    display: flex;

    &__btn {
      width: 27%;
      display: block;
      margin: 0.5rem;
      padding: 0.5rem;
      background: $c-nav-secondary;
      color: $c-nav-text;
      font-size: 15px;
    }
  }
}
